@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Geist:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
  font-family: 'Tactic Sans';
  src: url('/fonts/TacticSans-BlkIt.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

:root {
  --background: rgba(6, 8, 12, 1);
  --foreground: rgba(11, 14, 18, 1);
}

body {
  font-family: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

@media (max-width: 900px) {
  * {
    font-size: 14px;
  }
}
@media (max-width: 700px) {
  * {
    font-size: 12px;
  }
}